apiVersion: batch/v1
kind: Job
metadata:
  name: prisma-migrate
  namespace: expensetracker
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: DOCKER_IMAGE_SERVER
          command: ["sh", "-c", "npx prisma migrate deploy && npx prisma db seed"]
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: DATABASE_URL
          envFrom:
            - configMapRef:
                name: app-config
